.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;
  padding: 0.25rem;

  width: clamp(270px, 20vw + 200px, 480px);
  border-radius: 12px;

  background-color: var(--sys-primary-container);
}

.dialog-container-large {
  width: clamp(270px, 35vw + 150px, 768px);
}

#close-dialog-button {
  align-self: flex-end;
  color: #F24E1E;
  margin: 0.25rem;
}

#close-dialog-icon {
  transform: scale(2);
}

#overlay-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.label-text {
  color: var(--sys-secondary);
}

.dialog-submit-button {
  width: 200px;
  height: 48px;
  border-radius: 10px;

  font-size: 16px;
  line-height: 24px;

}

.actions-container {
  margin-bottom: 1rem;
}

.error-message {
  color: var(--sys-error);
  margin: 0;
  text-align: center;
}
