<h1 class="center-title">Teams</h1>
<div class="main-container">
  <div class="sub-container" *ngFor="let team of teamData">
    <div class="title-container full-width">
      <div class="title-container-children">
        <!-- <h3> -->
          {{ team.name }}
        <!-- </h3> -->
      </div>

      <div class="title-container-children">
        <!-- <p> -->
          # of projects: {{ team.projects }}
        <!-- </p> -->
      </div>
    </div>

    <div class="full-width">
      <hr class="solid" />
    </div>

    <div class="members-title full-width">
      <!-- <p> -->
        Members
      <!-- </p> -->
    </div>

    <div class="name-container">
      <div
        *ngFor="let teammate of team.teammates"
        class="name-container-children "
      >
        {{ teammate.profile.firstName }}
        {{ teammate.profile.lastName | slice : 0 : 1  }}
      </div>
    </div>
    
  </div>
  <div>
    <button mat-flat-button (click)="openOverlay()">Add Team</button>
  </div>
</div>

<!-- <app-create-team-overlay [(showOverlay)]="showOverlay" [membersData]="membersData" (teamCreated)="onTeamCreated()"></app-create-team-overlay> -->
