.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin: 1rem;
}

.select-form-field-text {
  background-color: snow;
  color: var(--sys-on-select-field);
  font-weight: 500;
}

.button {
  width: 103px;
  height: 32px;
  border-radius: 10px;
}
