<nav id="nav-menu">
  <mat-toolbar id="nav-menu-toolbar">
    <div id="info-container">
      <div id="logo-container">
        <img ngSrc="assets/Company_Logo.svg" alt="company logo" width="50" height="60">
      </div>

      @if (hasActorText) {
        <div id="info-text-container">
          <p id="info-text"> {{ actorText }}</p>
        </div>
      }
    </div>

    <div id="menu-icon-container">
      <button id="menu-icon-toggle" mat-icon-button aria-label="toggle menu" (click)="toggleMenu()">
        @if (!showMenu) {
          <mat-icon class="menu-icon" fontSet="material-symbols-outlined">menu</mat-icon>
        } @else {
          <mat-icon class="menu-icon" fontSet="material-symbols-outlined">close</mat-icon>
        }
      </button>
    </div>
  </mat-toolbar>

  @if (showMenu) {
    <div id="dropdown-tab-list" [@extensionAnimation]="'visible'">
      <div id="tabs-list">
        <a
          class="dropdown-tab"
          routerLinkActive="active"
          routerLink="/app/home"
        >
          <p class="nav-menu-text">Home</p>
          <div class="divider"></div>
        </a>

        @if (isAdmin) {
          <a
            class="dropdown-tab"
            routerLinkActive="active"
            routerLink="/company"
          >
            <p class="nav-menu-text">Company</p>
            <div class="divider"></div>
          </a>
        }

        <a
          class="dropdown-tab"
          routerLinkActive="active"
          routerLink="/app/teams"
        >
          <p class="nav-menu-text">Teams</p>
          <div class="divider"></div>
        </a>

        @if (isAdmin) {
          <a
            class="dropdown-tab"
            routerLinkActive="active"
            routerLink="/app/users"
          >
            <p class="nav-menu-text">Users</p>
            <div class="divider"></div>
          </a>
        }

        <a
          class="dropdown-tab logout"
          (click)="logout()"
        >
          <p class="nav-menu-text">Logout</p>
        </a>
      </div>
    </div>
  }
</nav>
