<div *ngIf="showOverlay" class="dim-bg">
  <div>
    <form [formGroup]="createTeamForm" (ngSubmit)="saveNewTeam()">
      <mat-form-field>
        <!-- <label for="name">Team Name</label> -->
        <mat-label>Team Name</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <!-- <label for="description">Description</label> -->
        <mat-label>Description</mat-label>
        <input matInput id="description" formControlName="description" />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="members">Select Members</mat-label>
        <select
          matNativeControl
          required
          id="members"
          formControlName="members"
          (change)="onMemberChange()"
        >
          <option *ngFor="let member of availableMembers" [value]="member.id">
            {{ member.profile.firstName }}
            {{ member.profile.lastName | slice : 0 : 1 }}
          </option>
        </select>
      </mat-form-field>

      <div *ngIf="selectedMembers.length > 0">
        <h3>Selected Members:</h3>
        <ul>
          <li *ngFor="let member of selectedMembers">
            {{ member.profile.firstName }}
            {{ member.profile.lastName | slice : 0 : 1 }}
            <button
              mat-flat-button
              type="button"
              (click)="removeMember(member)"
            >
              Remove
            </button>
          </li>
        </ul>
      </div>

      <button
        mat-flat-button
        type="submit"
        [disabled]="createTeamForm.invalid || selectedMembers.length === 0"
      >
        Save Team
      </button>
    </form>
    <button mat-flat-button (click)="hideOverlay()">close</button>
  </div>
</div>
