<app-overlay-layout
  [formGroup]="announcementForm"
  [showLoading]="loading"
  [dialogError]="formError"
  (submit)="post()"
  (close)="close()">

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput required formControlName="title" />
    <mat-error>A valid title is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput required formControlName="message" />
    <mat-error>A valid message is required</mat-error>
  </mat-form-field>
  <p>Form invalid: {{ announcementForm.invalid }}</p>
</app-overlay-layout>
