<nav id="nav-bar">
  <div id="info-container">
    <a routerLink="/app/home">
      <div id="logo-container">
        <img ngSrc="assets/Company_Logo.svg" width="57" height="39" alt="company logo">
      </div>
    </a>

    @if (hasActorText) {
      <p id="role-text">{{ actorText }}</p>
    }
  </div>

  <mat-toolbar id="nav-toolbar">
    <a class="nav-toolbar-button" mat-button routerLink="/app/home">Home</a>

    @if (isAdmin) {
      <a class="nav-toolbar-button" mat-button routerLink="/company">Company</a>
    }

    <a class="nav-toolbar-button" mat-button routerLink="/app/teams">Teams</a>

    @if (isAdmin) {
      <a class="nav-toolbar-button" mat-button routerLink="/app/users">Users</a>
    }

    <button class="nav-toolbar-button" mat-button>Logout</button>
  </mat-toolbar>
</nav>
