/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './styles/m3-theme';

@include mat.core(); // Be sure that you only ever include this mixin once!

@import 'material-symbols';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--sys-surface);
  color: var(--sys-on-surface);
}

html {
  // Apply the light theme by default for all components (includes core theme)
  @include mat.all-component-themes(m3-theme.$dark-theme);

  // Include your system variables
  @include mat.system-level-colors(m3-theme.$dark-theme);
  @include mat.system-level-typography(m3-theme.$dark-theme);
}

:root {
  // Angular Material overrides
  --sys-primary: #1BA098;
  --sys-primary-container: #0B2D45;
  --sys-background: #051622;
  --sys-secondary: #DEB992;

  // Our own custom variables
  --sys-on-select-field: #5533FF;
}

.primary-button {
  background-color: var(--sys-primary) !important;
  color: #FFFFFFBF !important;
}

.secondary-button {
  background-color: var(--sys-secondary) !important;
}
