mat-divider {
  height: 2px;
  background-color: #DEB992;
  margin-top: -1px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 4%;
  position: relative;
}

.divider-button-container {
  position: relative;
  width: 100%;
}

button {
  position: absolute;
  right: 30px;
  top: -20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date {
  color: rgba(255, 255, 255, 0.63);
  font-weight: 400;
}

.announcement-content {
  color: #fff;
  font: 18px/32px Inter, sans-serif;
  margin-top: 23px;
  font-feature-settings: "salt" on, "liga" off;
}


.header {
  color: #1BA098;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-bottom: 2%;
  margin-top: 2%;
}

.container {
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.announcement {
  background-color: #0B2D45;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.author {
  color: #fff;
  font-weight: 600;
}

.date {
  color: #fff;
}

.announcement-content {
  color: #fff;
}


@media (max-width: 991px) {
  .announcement {
    padding: 20px;
  }
}
