
<mat-toolbar color="primary" class="header">
  <span>Announcements</span>
</mat-toolbar>
    @if (isAdmin) {
      <div class="button-container">
        <button mat-flat-button (click)="toggleOverlay()" style="color: white;">New</button>
      </div>
    }
    <mat-divider></mat-divider>
  <app-create-announcment-overlay *ngIf="showCreateAnnouncmentOverlay" (closeOverlay)="toggleOverlay()"></app-create-announcment-overlay>
<div class="container">
  <mat-card *ngFor="let announcement of announcements" class="announcement">
    <mat-card-header>
    <div class="card-title">

      <mat-card-title class="author">{{ announcement.authorName }}</mat-card-title>
      <mat-card-subtitle class="date">
        <span class="month-year">{{ announcement.date | date: 'MMMM' }} </span>
        <span class="day-year">{{ announcement.date | date: 'd, y' }}</span>
      </mat-card-subtitle>
    </div>
    </mat-card-header>
    <mat-card-content class="announcement-content">
      <p>{{ announcement.message }}</p>
    </mat-card-content>
  </mat-card>
</div>
